body {
    animation: changeBackground 12s infinite linear;
    margin: 0;
    padding: 0;
}
*{
    color: #ed4272;
}

@keyframes changeBackground {
    0% {
        background-color: #F1EFEF;
    }
    25% {
        background-color: #fdfdfd;
    }
    50% {
        background-color: #d8dee5;
    }
    75% {
        background-color: #F1EFEF;
    }
    100% {
        background-color: #F1EFEF;
    }
}
.logo{
    color: #ed4272;
    font-size: 35px;
    transition: .5s;
    color: #fa2964;
    font-family: 'Abel', sans-serif;
    font-family: 'Grandiflora One', serif;
    font-family: 'Gruppo', sans-serif;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}
.custom-nav-link {
    text-transform: capitalize;
}

.text-color {
    color: #ed4272;
}
.icon {
    width: 350px;
    height: 350px;
    border-radius: 51% 49% 43% 57% / 66% 65% 35% 34%;
    background: linear-gradient(45deg, #f54125, #f02a62, #ff0000, #f54125);
    position: relative;
    top: 5%;
    left: 35%;
    overflow: hidden;
    transition: top 0.5s ease-in-out; 
  }
  
  .icon img {
    position: absolute;
    bottom: 38px;
    left: 0;
    width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out; 
  }
  .icon img:hover{
    transform: scale(2.2);
    background: linear-gradient(#ff0000,#ff0000,#780c0c);
  }
  section #typing-text{
    color: #1e1d1d;
  }
  section h2 {
    font-size: 24px;
    color: #333;
    font-family: 'Grandiflora One', serif;
    margin-bottom: 20px;
  }

  section h1 {
    color: rgb(36, 10, 83);
    font-size: 48px;
    position: relative;
    top: 50px;
    left: 150px;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
  }
  
  section h2 {
    color: #fa2964;
    font-size: 50px;
    position: relative;
    top: 50px;
    left: 150px;
    font-family: 'Abel', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
  }
  
  section h2 span {
    color: rgb(36, 10, 83);
    font-weight: 100;
    font-size: 60px;
  }
  
  section h3 {
    color: #f02a62;
    font-family: 'Abel', sans-serif;
    font-family: 'Grandiflora One', serif;
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    position: relative;
    left: 240px;
    top: 25px;
    font-size: 15px;
  }
  
  section p {
    font-size: 20px;
    line-height: 1.9;
    color: #1e1d1d;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;

  }
  .know-btn{
    position: relative;
    top: 100px;
    left: 150px;
    width: 180px;
    text-transform: uppercase;
    background-color: rgb(16, 49, 90);
    color: #fff;
    border: 2px solid;
    transition: .5s;
  }
  .know-btn:hover{
    background-color: #fff;
    color: rgb(16, 49, 90);
    transform: scale(1.2);
  }
  @media (max-width: 767px) {
    .logo{
        transform: scale(.7);
    }
    .icon {
        width: 250px;
        height: 250px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .icon img {
        transform: scale(1.7);
    }

    section h1 {
        font-size: 44px;
        position: relative;
        top: 0;
        left: 10px; 
        max-width: calc(100% - 20px); 
    }

    section h2 {
        font-size: 26px;
        position: relative;
        top: 0;
        left: 10px; 
        margin-top: 10px;
        max-width: calc(100% - 20px); 
    }

    section h2 span {
        font-size: 36px;
    }

    section h3 {
        font-size: 12px;
        left: 58px; 
        top: -5px;
        max-width: calc(100% - 68px); 
    }

    body {
        overflow-x: hidden;
    }
    .know-btn{
      position: relative;
      top: 47vh;
      transform: scale(.8);
      width: 110px;
      left: 35%;
      font-size: 10px;
      border-radius: 4px;
      box-shadow: 5px  4px 6px grey;
      border: none;
    }
    .know-btn:hover{
      transform: scale(1);
    }
}
  
